div.card-selected div.card-header {
    background-color: blue;
    color: white;
}

div.card-selected div.card-body {
    background-color: lightblue;
}

div.card-header {
    cursor: pointer;
}

div.flow-card {
    max-width: 70%;
}