<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle drop-down-selection" role="button" id="booking-office-selector" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="!selectedBookingOffice"> Choose Booking Office </span>
              <span *ngIf="selectedBookingOffice"> {{selectedBookingOffice.name}} </span>
            </a>
          
            <div class="dropdown-menu" aria-labelledby="booking-office-selector">
               <a class="dropdown-item" (click)="choseBookingOffice(null)"> ... </a> 
              <a *ngFor="let bookingOffice of bookingOffices" class="dropdown-item" (click)="choseBookingOffice(bookingOffice)"> {{bookingOffice.name}}</a>
            </div>
          </div>
    </div>
</div>
 
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
          <mat-calendar  [minDate]="minDate"  (selectedChange)="onDateChanged($event)" 
          [dateFilter]="dateFilter"></mat-calendar>
    </div>
    <div class="col-md-2">
        <div class="time-container">
            <div *ngFor="let dayTimeSlot of dayTimeSlots" (click)="!dayTimeSlot.busy && clickSlot(dayTimeSlot)" class="time-slot-item" 
                [class.slot-selected]="dayTimeSlot.selected" [class.slot-busy]="dayTimeSlot.busy">
                <span> {{dayTimeSlot.time | date: 'HH:mm'}} </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
 <div>
    {{ selecteDate | date: 'dd-MM-yyyy hh:mm:ss'}}
 </div>
 
<div class="row">
    <div class="col-md-6">
          <button class="btn btn-primary" (click)="toStep(2)"> Previous </button>  
    </div>
    <div class="col-md-6">
        <div class="right">
            <button type="button" class="btn btn-primary right" (click)="toStep(4)" [disabled]="!selecteDate"> Next </button> 
        </div>
    </div>
</div>