<div>
    <div *ngIf="reservations.length === 0"> No reservation </div>
    <table>
        <thead></thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td> {{ reservation.reservationId }} </td>
                <td> {{ reservation.flowName }} </td>
                <td> {{ reservation.reservationStartTime }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="height: 500px; width: 500px;">
        <mat-calendar #calendar  [dateFilter]="filterDates" [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    
</div>
